<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmusic.dao.SingerTypeDao">
	<insert id="addSingerType" parameterType="SingerType">
		insert into singertype(singertypename) values(#{singertypename})
	</insert>
	
	<update id="updateSingerType" parameterType="SingerType">
		update singertype set singertypename = #{singertypename},
    where singertypeid = #{id}
	</update>
	
	
	<delete id="deleteSingerType" parameterType="Integer">
		delete from singertype where singertypeid = #{id}
	</delete>
	
	<select id="findSingerTypeByID" parameterType="Integer" resultType="SingerType">
		select * from singertype where singertypeid = #{id}
	</select>
	
	<select id="findSingerTypeByName" parameterType="String" resultType="SingerType">
		select * from singertype where singertypename = #{singertypename}
	</select>
	
	<resultMap type="SingerType" id="SingerTypeMap">
		<id column="singertypeid" property="singertypeid"/>
		<result column="singertypename" property="singertypename"/>
		<!-- <association property="" column=""></association> -->
	</resultMap>
	
	<select id="findAllSingerType" resultMap="SingerTypeMap">
		select * from singertype
	</select>
	
</mapper>
