<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmusic.dao.SingerDao">
	<insert id="addSinger" parameterType="Singer">
		insert into Singer(singername,singerphoto,sex,introduction)
		 values(#{singername},#{singerphoto},#{singerSex}#{introduction})
	</insert>
	
	<update id="updateSinger" parameterType="Singer">
		update Singer set singername = #{singername},
		singerphoto = #{singerphoto},
      introduction = #{introduction},
      sex = #{sex}
      where singerid = #{singerid}
	</update>
	
	
	<delete id="deleteSinger" parameterType="Integer">
		delete from Singer where singerid = #{singerid}
	</delete>
	
	<select id="findSingerByID" parameterType="Integer" resultType="Singer">
		select * from Singer where singerid = #{singerid}
	</select>
	
	<select id="findSingerByName" parameterType="String" resultType="Singer">
		select * from Singer where singername = #{singername}
	</select>
	
	<resultMap type="Singer" id="singerMap">
		<id column="singerid" property="singerid"/>
		<result column="singername" property="singername"/>
		<result column="singerphoto" property="singerphoto"/>
		<result column="sex" property="sex"/>
		<result column="introduction" property="introduction"/>
		<!-- <association property="" column=""></association> -->
	</resultMap>
	
	<select id="findAll" resultMap="singerMap">
		select * from Singer
	</select>
	
</mapper>
