<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsinger.dao.SingerSingerTypeDao">
	<insert id="add" parameterType="SingerSingerType">
		insert into singer_singertype(singerid,singertypeid) values(#{singerid},#{singertypeid})
	</insert>
	
	<update id="updateById" parameterType="SingerSingerType">
		update singer_singertype set singertypeid=#{singertypeid} where id = #{id}
	</update>

	<update id="updateBySingerid" parameterType="SingerSingerType">
		update singer_singertype set singertypeid=#{singertypeid} where singerid = #{singerid}
	</update>
	
	<update id="update" parameterType="SingerSingerType">
		update singer_singertype set singertypeid=#{singertypeid} where singerid = #{singerid}
	</update>
	
	<delete id="deleteById" parameterType="Integer">
		delete from singer_singertype where id = #{id}
	</delete>
	
	<delete id="deleteBySingerid" parameterType="Integer">
		delete from singer_singertype where singerid = #{singerid}
	</delete>
	
	<delete id="deleteBySingerTypeId" parameterType="Integer">
		delete from singer_singertype where singertypeid = #{singertypeid} 
	</delete>
	
	<select id="findBySingerid" parameterType="Integer" resultType="SingerSingerType">
		select * from singer_singertype where singerid = #{singerid}
	</select>
			
	<select id="findBySingerTypeId" parameterType="Integer" resultMap="singerSingerTypeMap">
		select * from singer_singertype where singertypeid = #{singertypeid}
	</select>		
	
	<resultMap id="singerSingerTypeMap" type="SingerSingerType">
		<id property="id" column="id"/>
		<result property="singertypeid" column="singertypeid"/>
		<result property = "singerid" column = "singerid"/>
	</resultMap>
	
</mapper>