body{
	font-family:Microsoft YaHei;
}

body {
    background: url(../img/bg_hui.jpg) 50% 142px repeat-x;
    min-width: 1240px;
    overflow-y: scroll;
}

a{
	color: black;
}
a:hover{
	color:#32c27c;
}

a:focus{
    text-decoration:none;
    color: white;
}

li {
    list-style: none;
}

.main{
	z-index: 2;
}

.main, .section_inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.mod_tag {
    position: relative;
    margin: 52px 0 0;
}

.tag_list {
    position: relative;
    height: auto;
    zoom: 1;
    clear: both;
    overflow: hidden;
    line-height: 26px;
    padding-left: 65px;
}

.tag_tit {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    width: 65px;
}

.tag_item {
    float: left;
    padding: 0 8px;
    margin: 0 24px 15px 0;
}

.tag_item_select{
    background-color: #31c27c;
    color: #fff;
}

.tag_item_select:hover{
    background-color: #31c27c;
    color: #fff;
}

.mod_part, .mod_part_detail {
    position: relative;
    margin-bottom: 30px;
}

.page_song_all .mod_part_detail {
    margin-top: 18px;
}

.part_detail_hd {
    overflow: hidden;
    height: 60px;
}

.part_detail_tit {
    float: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 58px;
    margin: 0;

}

.part_switch {
    position: absolute;
    top: 7px;
    right: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    font-size: 0;
}

.part_switch_item_select, .part_switch_item_select:hover {
    background-color: #31c27c;
    color: #fff;
    border-color: #31c27c;
    z-index: 2;
}
.part_switch_item_left {
    right: -1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-color: #c9c9c9;
}
.part_switch_item {
    position: relative;
    display: inline-block;
    padding: 0 16px;
    height: 38px;
    position: relative;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    
}

.part_switch_item_right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #c9c9c9;
}

.mod_playlist {
    overflow: hidden;

}

.mod_playlist .playlist_list {
    margin-right: -20px;
}

.playlist_list{
    padding-left: 0;
}

.mod_playlist .playlist_item_box {
    position: relative;
    margin-right: 20px;
}

.playlist_item {
    float: left;
    width: 20%;
    padding-bottom: 44px;
    overflow: hidden;
}

.playlist_cover {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 100%;
    margin-bottom: 15px;
}
.mod_cover {
    zoom: 1;
}

.playlist_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1);
    transition: transform .75s;
}

.mod_cover_icon_play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(.7);
    -webkit-transition-property: opacity,-webkit-transform;
    -webkit-transition-duration: .5s;
    transform: scale(.7);
    transition-property: opacity,transform;
    transition-duration: .5s;
    zoom: 1;
}

.playlist_title {
    overflow: hidden;
}

.playlist_title_txt {
    float: left;
    max-width: 100%;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
}

h4{
	font-size: 100%;
	margin: 0;
}

.mod_playlist .playlist_author, .mod_playlist .playlist_author a, .mod_playlist .playlist_other {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
}

.mod_cover-icon_play{
	/*background: url("img/slide1.jpg");*/
	opacity: 0;
	position: absolute;
	left: 40%;
	top: 40%;
	/*z-index: 3;*/
	width: 70px;
	height: 70px;
	
}

.playlist_cover a{
	color: white;
}
